body {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.main-container, .misc, .button-container, .column, .others, .main-left, .main-up {
    gap: 4px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 2px solid navy;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    margin: 128px;
    padding: 8px;
}

.display-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: hsl(0, 0%, 93%);
    height: 50px;
    font: bold 16px Georgia;
    color: navy;
    border: 3px solid navy;
}

.display-value {
    padding-bottom: 6px;
    padding-right: 6px;
    text-align: center;
}

.misc {
    display: flex;
    justify-content: center;
    height: 60px;
}

.misc>button {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.clear {
    background-color: hsl(0, 79%, 72%);
}

.clear:hover {
    background-color: hsl(0, 79%, 62%);
}

.clear:active {
    background-color: hsl(0, 79%, 42%)
}

.delete {
    background-color: hsl(203, 92%, 75%);
}

.delete:hover {
    background-color: hsl(203, 92%, 65%);
}

.delete:active {
    background-color: hsl(203, 92%, 45%);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left, .main-up, .main-down, .main-right {
    display: flex;
}

.main-left, .main-right {
    flex-direction: column;
}

button {
    width: 80px;
    height: 50px;
    border-style: solid;
    border-color: navy;
    background-color: hsl(0, 0%, 96%);
    color: navy;
    border-radius: 10px;
    border-width: 1px;
}

button:hover {
    background: hsl(0, 0%, 86%);
}

button:active {
    background-color: hsl(0, 0%, 66%);
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.others {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

[data-value='add'] {
    height: 110px;
}

[data-value='0'] {
    width: 165px;
}

[data-value='equals'] {
    height: 100px;
}

.main-right>.operator {
    width: 60px;
}